@model CisReg_Website.Models.HallModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Hall</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CNPJ" class="control-label"></label>
                <input asp-for="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNES" class="control-label"></label>
                <input asp-for="CNES" class="form-control" />
                <span asp-validation-for="CNES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityHallName" class="control-label"></label>
                <input asp-for="CityHallName" class="form-control" />
                <span asp-validation-for="CityHallName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgreementNumber" class="control-label"></label>
                <input asp-for="AgreementNumber" class="form-control" />
                <span asp-validation-for="AgreementNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityHallManager" class="control-label"></label>
                <input asp-for="CityHallManager" class="form-control" />
                <span asp-validation-for="CityHallManager" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ResponsiblePhoneNumber" class="control-label"></label>
                <input asp-for="ResponsiblePhoneNumber" class="form-control" />
                <span asp-validation-for="ResponsiblePhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsibleEmail" class="control-label"></label>
                <input asp-for="ResponsibleEmail" class="form-control" />
                <span asp-validation-for="ResponsibleEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
