<!-- Container Principal -->
<div class="container mx-auto mt-10 p-4 bg-white rounded shadow-lg max-w-lg">
    <h2 class="text-2xl font-bold mb-6 text-center">Preenchimento de Vagas</h2>

    <div>
        <h3 class="text-xl font-semibold mb-4">Dados do Paciente</h3>
        <div class="grid gap-4 mx-auto">
            <!-- Nome -->
            <div class="grid gap-2">
                <label for="nome" class="block text-sm font-medium mb-0">Nome</label>
                <input type="text" class="border rounded p-2 w-full max-w-md" aria-label="Nome do paciente">
            </div>

            <!-- Sobrenome -->
            <div class="grid gap-2">
                <label for="sobrenome" class="block text-sm font-medium mb-0">Sobrenome</label>
                <input type="text" class="border rounded p-2 w-full max-w-md" aria-label="Sobrenome do paciente">
            </div>

            <!-- CPF -->
            <div class="grid gap-2">
                <label for="cpf" class="block text-sm font-medium mb-0">CPF</label>
                <input type="text" class="border rounded p-2 w-full max-w-md" aria-label="CPF do paciente">
            </div>

            <!-- Data de Nascimento -->
            <div class="grid gap-2">
                <label for="dataNascimento" class="block text-sm font-medium mb-0">Data de Nascimento</label>
                <input type="date" class="border rounded p-2 w-full max-w-md" aria-label="Data de Nascimento">
            </div>

            <!-- Cartão SUS -->
            <div class="grid gap-2">
                <label for="cartaoSUS" class="block text-sm font-medium mb-0">Cartão SUS</label>
                <input type="text" class="border rounded p-2 w-full max-w-md" aria-label="Número do Cartão SUS">
            </div>

            <!-- CID -->
            <div class="grid gap-2">
                <label for="cid" class="block text-sm font-medium mb-0">CID</label>
                <input type="text" class="border rounded p-2 w-full max-w-md" aria-label="Código CID">
            </div>

            <!-- Telefone -->
            <div class="grid gap-2">
                <label for="telefone" class="block text-sm font-medium mb-0">Telefone</label>
                <input type="tel" class="border rounded p-2 w-full max-w-md" aria-label="Telefone de contato">
            </div>

            <!-- Nome da Mãe -->
            <div class="grid gap-2">
                <label for="nomeMae" class="block text-sm font-medium mb-0">Nome da Mãe</label>
                <input type="text" class="border rounded p-2 w-full max-w-md" aria-label="Nome da mãe">
            </div>

            <!-- Nome do Pai -->
            <div class="grid gap-2">
                <label for="nomePai" class="block text-sm font-medium mb-0">Nome do Pai</label>
                <input type="text" class="border rounded p-2 w-full max-w-md" aria-label="Nome do pai">
            </div>
        </div>
    </div>

    <!-- Sexo -->
    <div class="mt-4">
        <h3 class="flex gap-2 text-xl font-semibold mb-4">Sexo</h3>
        <div class="flex gap-2">
            <label class="flex items-center">
                <input type="radio" name="sexo" value="Masculino" class="mr-2" aria-label="Sexo Masculino">
                Masculino
            </label>
            <label class="flex items-center">
                <input type="radio" name="sexo" value="Feminino" class="mr-2" aria-label="Sexo Feminino">
                Feminino
            </label>
        </div>
    </div>

    <!-- Etnia -->
    <div class="mt-4">
        <div class="grid gap-2">
            <label for="etnia" class="block text-sm font-medium mb-0">Etnia</label>
            <select id="etnia" class="border rounded p-2 w-full max-w-md">
                <option value="pardo">Pardo</option>
                <option value="branco">Branco</option>
                <option value="negro">Negro</option>
                <option value="indigena">Indígena</option>
                <option value="amarelo">Amarelo</option>
            </select>
        </div>
    </div>

    <!-- Dados da Vaga -->
    <div class="mt-6">
        <h3 class="text-xl font-semibold mb-4">Vaga</h3>
        <div class="grid gap-4">
            <!-- Tipo de Profissional -->
            <div class="grid gap-2">
                <label for="tipoProfissional" class="block text-sm font-medium mb-0">Selecione o Tipo de Profissional</label>
                <select id="tipoProfissional" class="border rounded p-2 w-full max-w-md" onchange="updateEspecialidade()">
                    <option value="" disabled selected>Selecione o Tipo de Profissional</option>
                    <option value="saude">Profissional da Saúde</option>
                    <option value="psicologia">Profissional de Psicologia</option>
                    <option value="nutricao">Profissional de Nutrição</option>
                    <option value="fisioterapia">Profissional de Fisioterapia</option>
                </select>
            </div>

            <!-- Especialidade -->
            <div class="grid gap-2" id="especialidadeContainer" style="display:none;">
                <label for="especialidade" class="block text-sm font-medium mb-0">Selecione a Especialidade</label>
                <select id="especialidade" class="border rounded p-2 w-full max-w-md" onchange="updateSubespecialidade()">
                    <option value="" disabled selected>Selecione a Especialidade</option>
                </select>
            </div>

            <!-- Subespecialidade -->
            <div class="grid gap-2" id="subespecialidadeContainer" style="display:none;">
                <label for="subespecialidade" class="block text-sm font-medium mb-0">Selecione a Subespecialidade</label>
                <select id="subespecialidade" class="border rounded p-2 w-full max-w-md" onchange="updateCalendario()">
                    <option value="" disabled selected>Selecione a Subespecialidade</option>
                </select>
            </div>

            <!-- Calendário -->
            <div class="grid gap-2" id="calendarioContainer" style="display:none;">
                <label for="calendario" class="block text-sm font-medium mb-0">Selecione o Dia</label>
                <input type="date" id="calendario" class="border rounded p-2 w-full max-w-md" onchange="updateProfissionaisDisponiveis()">
            </div>

            <!-- Profissionais Disponíveis -->
            <div id="profissionaisContainer" style="display:none;">
                <h4 class="font-medium">Profissionais Disponíveis</h4>
                <div id="profissionaisList" class="border rounded p-2 w-full max-w-md mt-2">
                    <!-- A lista de profissionais será preenchida dinamicamente -->
                </div>
            </div>
        </div>
    </div>


    <script>
        // Função para habilitar/desabilitar os selects
        function toggleSelects(disabled) {
            const selects = document.querySelectorAll('select');
            selects.forEach(select => {
                select.disabled = disabled;
            });
        }

        // Função para atualizar as especialidades com base no tipo de profissional selecionado
        function updateEspecialidade() {
            const tipoProfissional = document.getElementById('tipoProfissional').value;
            const especialidadeContainer = document.getElementById('especialidadeContainer');
            const especialidadeSelect = document.getElementById('especialidade');

            // Limpar as opções de especialidade
            especialidadeSelect.innerHTML = '<option value="" disabled selected>Selecione a Especialidade</option>';

            if (tipoProfissional) {
                let especialidades = [];

                if (tipoProfissional === 'saude') {
                    especialidades = ['Especialidade Saúde 1', 'Especialidade Saúde 2', 'Especialidade Saúde 3'];
                } else if (tipoProfissional === 'psicologia') {
                    especialidades = ['Especialidade Psicologia 1', 'Especialidade Psicologia 2'];
                } else if (tipoProfissional === 'nutricao') {
                    especialidades = ['Especialidade Nutrição 1', 'Especialidade Nutrição 2'];
                } else if (tipoProfissional === 'fisioterapia') {
                    especialidades = ['Especialidade Fisioterapia 1', 'Especialidade Fisioterapia 2'];
                }

                // Adicionar opções ao select de especialidade
                especialidades.forEach(function (especialidade) {
                    const option = document.createElement('option');
                    option.value = especialidade;
                    option.textContent = especialidade;
                    especialidadeSelect.appendChild(option);
                });

                especialidadeContainer.style.display = 'block';  // Exibe o container de especialidade
                toggleSelects(false);  // Habilita os selects quando o tipo de profissional for escolhido
            }
        }

        // Função para atualizar as subespecialidades com base na especialidade selecionada
        function updateSubespecialidade() {
            const especialidade = document.getElementById('especialidade').value;
            const subespecialidadeContainer = document.getElementById('subespecialidadeContainer');
            const subespecialidadeSelect = document.getElementById('subespecialidade');

            // Limpar as opções de subespecialidade
            subespecialidadeSelect.innerHTML = '<option value="" disabled selected>Selecione a Subespecialidade</option>';

            if (especialidade) {
                let subespecialidades = [];

                // Lógica para selecionar subespecialidades baseadas na especialidade
                if (especialidade.includes('Saúde')) {
                    subespecialidades = ['Subespecialidade Saúde 1', 'Subespecialidade Saúde 2'];
                } else if (especialidade.includes('Psicologia')) {
                    subespecialidades = ['Subespecialidade Psicologia 1'];
                } else if (especialidade.includes('Nutrição')) {
                    subespecialidades = ['Subespecialidade Nutrição 1'];
                } else if (especialidade.includes('Fisioterapia')) {
                    subespecialidades = ['Subespecialidade Fisioterapia 1', 'Subespecialidade Fisioterapia 2'];
                }

                // Adicionar opções ao select de subespecialidade
                subespecialidades.forEach(function (subespecialidade) {
                    const option = document.createElement('option');
                    option.value = subespecialidade;
                    option.textContent = subespecialidade;
                    subespecialidadeSelect.appendChild(option);
                });

                subespecialidadeContainer.style.display = 'block';  // Exibe o container de subespecialidade
            }
        }

        // Função para exibir o calendário após selecionar a subespecialidade
        function updateCalendario() {
            const subespecialidade = document.getElementById('subespecialidade').value;
            const calendarioContainer = document.getElementById('calendarioContainer');

            if (subespecialidade) {
                calendarioContainer.style.display = 'block';  // Exibe o container de calendário
            }
        }

        // Função para exibir os profissionais disponíveis com base na data selecionada
        function updateProfissionaisDisponiveis() {
            const calendario = document.getElementById('calendario').value;
            const profissionaisContainer = document.getElementById('profissionaisContainer');
            const profissionaisList = document.getElementById('profissionaisList');

            // Limpar lista de profissionais
            profissionaisList.innerHTML = '';

            if (calendario) {
                // Simulação de profissionais disponíveis (você pode substituir com dados reais)
                const profissionais = [
                    { nome: 'Profissional 1', turno: ['matutino', 'vespertino'] },
                    { nome: 'Profissional 2', turno: ['noturno'] },
                    { nome: 'Profissional 3', turno: ['matutino', 'noturno'] }
                ];

                profissionais.forEach(function (profissional) {
                    const div = document.createElement('div');
                    div.classList.add('p-2', 'border-b', 'border-gray-200');
                    div.textContent = profissional.nome;

                    // Exibir turnos disponíveis
                    const selectTurno = document.createElement('select');
                    selectTurno.classList.add('border', 'rounded', 'p-2', 'w-full', 'max-w-md');
                    const optionDefault = document.createElement('option');
                    optionDefault.value = "";
                    optionDefault.textContent = "Selecione um Turno";
                    selectTurno.appendChild(optionDefault);

                    profissional.turno.forEach(function (turno) {
                        const option = document.createElement('option');
                        option.value = turno;
                        option.textContent = turno.charAt(0).toUpperCase() + turno.slice(1); // Capitaliza o primeiro caractere
                        selectTurno.appendChild(option);
                    });

                    selectTurno.addEventListener('change', function () {
                        const selectedTurno = selectTurno.value;
                        // Desabilitar os outros selects
                        const allSelects = document.querySelectorAll('select');
                        allSelects.forEach(function (select) {
                            if (select !== selectTurno) {
                                select.disabled = selectedTurno ? true : false;
                            }
                        });
                    });

                    div.appendChild(selectTurno);
                    profissionaisList.appendChild(div);
                });

                profissionaisContainer.style.display = 'block';  // Exibe o container de profissionais
            }
        }
    </script>

    <style>
        input, select {
            background-color: white !important;
            color: black !important;
        }
    </style>
</div>