@model CisReg_Website.Models.UserHall

@{
    ViewData["Title"] = "Cadastrar usuário da prefeitura";
}

<div class="relative flex items-center justify-center bg-customGrey-light">
    <form asp-action="Create">
        <div class="form-group"><h1>Cadastro de usuário da</h1></div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="HallModel" class="control-label"></label>
            <input asp-for="HallModel" class="form-control" />
            <span asp-validation-for="HallModel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Permission" class="control-label"></label>
            <input asp-for="Permission" class="form-control" />
            <span asp-validation-for="Permission" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </div>

        <div class="form-group">
            <a asp-action="Index">Voltar a lista</a>
        </div>
    </form>
</div>
